body{
    background: #B7D3E8;
    margin: 0;
}

/* Text Styles */

header h1{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: white;
    margin-left: 45%;
    margin-right: 0 auto;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #FEFCFB;
    text-align: center;
    margin: 0 auto;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color:#FEFCFB;
}
a{
    text-decoration: none;
    /* margin: 0 auto; */
}

/* Header Style */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    max-width: 1410px;
    background-image: url(images/SparxBanner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
header button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border: 2.23px solid #001F54;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #2D9972;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color:#FEFCFB;
    margin-right: 2.3%;
}
header button:hover{
    background: #13BF81;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}
header button:active{
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4);
    background: #13BF81;
}

/* Info sections */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    background: #034078;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.3));
    max-width: 1200px;
    margin-top: 60px;
}
.topper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A1128;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}
.cardContent1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 60px;
    gap: 50px;
}
.cardContent2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 60px;
    gap: 6.66%;
}
.welcome{
    margin-right: 60px;
}
.groups{
    max-width: 770px;
}
button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border: 2.23px solid #001F54;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #2D9972;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color:#FEFCFB;
    margin: 60px 0px;
}
button:hover{
    background: #13BF81;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}
button:active{
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4);
    background: #13BF81;
}

@media only screen and (max-width: 1185px){

    /* Text Styles */

header h1{
    font-size: 18px;
    line-height: 24px;
    margin-left: 45%;
    margin-right: 0 auto;
}
h1{
    font-size: 32px;
    line-height: 38px;
}
p{
    font-size: 16px;
    line-height: 25px;
}

/* Header style */

header button{
    padding: 4px;
    gap: 4px;
    border: 2.23px solid #001F54;
    font-size: 12px;
    line-height: 16px;
    margin-right: 2.3%;
}
.banner{
    height: 50px;
    max-width: 600px;
    border-radius: 10px;
}

/* Body style */

 .card{
    max-width: 400px ;
    margin-top: 30px;
 }
 .cardContent1{
    margin: 20px 30px;
    gap: 20px;
}
.cardContent2{
    margin: 20px 30px;
    gap: 6.66%;
}
 .cardContent1 img{
    width: 360px;
 }
 .cardContent2 img{
    width: 150px;
 }
 .welcome{
    margin-right: 0;
 }
 button{
    padding: 4px;
    gap: 4px;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0px;
}
}

@media only screen and (max-width: 485px){
    header h1{
        margin-left: 40%;
    }
}

@media only screen and (max-width: 445px){
    header h1{
        font-size: 14px;
        line-height: 18px;
    }
    header button{
        padding: 2px;
        gap: 2px;
        width: 80px;
    }
}

@media only screen and (max-width: 400px){
    h1{
        font-size: 24px;
        line-height: 30px;
    }
    p{
        font-size: 12px;
        line-height: 18px;
    }
    .cardContent1 img{
        width: 75%;
    }
    .cardContent2 img{
        width: 40%;
    }
    header{
        margin: 5px;
    }
}